body{
    background-color: black;
    color: white;
}
/*Company logo gif*/
.gif{
    width: 65px;
    height: 65px;
    margin-bottom: 40px;
}
#gif{
    width: 80px;
}
/*navbar*/
.navbar{
    font-family: "Corsiva Hebrew";
    font-size: 1.3rem;
}
.navbar-brand{
    font-family: "Academy Engraved LET";
    font-size: 2.5rem;
    color: saddlebrown;
    font-weight: bold;
    padding-left: 10px;
    padding-right: 20px;
}
.nav-item{
    margin-left: 30px;
}
/*book a table*/
.table{
    font-family: "American Typewriter";
    font-size: 1rem;
    border: 1px solid white;
    border-radius: 20px;
    width: 200px;
    color: white;
    text-decoration: none;
    margin-right: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
}
a:hover{
    color: saddlebrown;
}
/*shopping cart*/
.shopping-cart{
    width: 30px;
    height: 30px;
    margin: 0 20px 0 20px;
}
/*carousel*/
.carousel-caption{
    margin-bottom: 320px;
    font-size: 3rem;
}
.carousel-caption > h1{
    font-family: "Academy Engraved LET";
    font-size: 6rem;
}
.carousel-caption > h3{
    font-family: "American Typewriter";
    font-size: 2.1rem;
    font-weight: bold;
}
/*coffee card*/
.coffee-card{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.fresh-brew{
    text-align: center;
    font-size: 2.8rem;
}
.coffee{
    font-family: "Academy Engraved LET";
    border: 1px solid saddlebrown;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    /*margin: 1px;*/
    padding: 10px;
    width: 240px;
}
.col-8{
    padding: 0;
}
.coffee h1{
    color: blanchedalmond;
    border-bottom: 1px solid saddlebrown;
    /*width: 50px;*/

}
.coffee h5{
    color: sandybrown;
    padding-top: 5px;
}
.coffee p{
    border: 1px solid rosybrown;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    width: 100px;
    height: 30px;
    background-color: saddlebrown;
    color: black;
    font-family: "American Typewriter";
    font-size: 1rem;
}
.coffee p:hover{
    cursor: pointer;
    background-color: chocolate;
}

/*h4 headers below carousel*/
h4{
    font-family: "Academy Engraved LET";
    color: saddlebrown;
    font-size: 1.8rem;
}
/*image for coffee card*/
.light-roast{
    width: 150px;
    height: 150px;
    border-radius: 20px;
    display: flex;
    justify-content: flex-end;
}
/*GRADIENT BUTTON*/
.gradient-buttons .btn {
    background-image: linear-gradient(to bottom, rgba(165,42,42,0.5), rgba(165,42,42,0.2) 49%, rgba(0,0,0,0.15) 51%, rgba(0,0,0,0.05));
    background-repeat: repeat-x;
}

.card {
    margin: 10px;
    box-shadow: 0 5px 10px -2.5px;
}
/*FOOTER*/
.footer{
    font-family: "Corsiva Hebrew";
    color: white;
}
.footer a{
    text-decoration: none;
}
.footer-image{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100px;
    margin-left: 60px;
}
.last-image{
    width: 45px;
    height: 45px;
    margin-left: 20px;
}
main{
    margin-left: 100px;
    margin-right: 100px;
}
